In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
# Import file
df_pre = pd.read_csv("Martinez_pre_F16.csv", delimiter = ",")

In [12]:
df_pre.head(4)

,id,node id,component id,component type,stepnumber,step title,component_number,isAutoSave,isSubmit,client save time,...,project id,WISE ID 1,WISE ID 2,WISE ID 3,response,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,204167,node2,ufxmcsgt5e,MultipleChoice,1.1,Car on cold day,2,1,0,11/14/16 8:42,...,18787,148024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,204392,node2,hucom13uly,OpenResponse,1.1,Car on cold day,3,1,0,11/14/16 8:46,...,18787,148024,NaN,NaN,Colder than the air inside because the air out...,NaN,NaN,NaN,NaN,NaN
2,204393,node2,30dxrmhj4j,MultipleChoice,1.1,Car on cold day,4,1,0,11/14/16 8:46,...,18787,148024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,204697,node8,yqliivfpwk,OpenResponse,1.2,Design Something New,2,1,0,11/14/16 8:55,...,18787,148024,NaN,NaN,"You will probably need wood, nails, a tiny cup...",NaN,NaN,NaN,NaN,NaN

**Pretest**

*If pretest was imported, use these to find relevant componenets*

In [13]:
Car_pre = df_pre[(df_pre.stepnumber == 1.1) & (df_pre.component_number == 3)]
Car_pre.to_csv('Car_pre.csv')

In [14]:
Design1_pre = df_pre[(df_pre.stepnumber == 1.2) & (df_pre.component_number == 2)]
Design2_pre = df_pre[(df_pre.stepnumber == 1.2) & (df_pre.component_number == 3)]
Design1_pre.to_csv('Design1_pre.csv')
Design2_pre.to_csv('Design2_pre.csv')

In [15]:
David2_pre = df_pre[(df_pre.stepnumber == 1.3) & (df_pre.component_number == 2)]
David4_pre = df_pre[(df_pre.stepnumber == 1.3) & (df_pre.component_number == 4)]
David5_pre = df_pre[(df_pre.stepnumber == 1.3) & (df_pre.component_number == 5)]
David2_pre.to_csv('David2_pre.csv')
David4_pre.to_csv('David4_pre.csv')
David5_pre.to_csv('David5_pre.csv')

In [16]:
Tomato1_pre = df_pre[(df_pre.stepnumber == 1.4) & (df_pre.component_number == 2)]
Tomato2_pre = df_pre[(df_pre.stepnumber == 1.4) & (df_pre.component_number == 3)]
Tomato1_pre.to_csv('Tomato1_pre.csv')
Tomato2_pre.to_csv('Tomato2_pre.csv')

In [17]:
Greenhouse1_pre = df_pre[(df_pre.stepnumber == 1.5) & (df_pre.component_number == 3)] 
Greenhouse2_pre = df_pre[(df_pre.stepnumber == 1.5) & (df_pre.component_number == 5)]
Greenhouse1_pre.to_csv('Greenhouse3_pre.csv')
Greenhouse2_pre.to_csv('Greenhouse5_pre.csv')

In [18]:
Laura1_pre = df_pre[(df_pre.stepnumber == 1.6) & (df_pre.component_number == 3)] 
Laura2_pre = df_pre[(df_pre.stepnumber == 1.6) & (df_pre.component_number == 5)]          
Laura1_pre.to_csv('Laura1_pre.csv')
Laura2_pre.to_csv('Laura2_pre.csv')

**Posttest**

*Import posttest, find relevant components*

In [5]:
df_post = pd.read_excel("Martinez_posttest.xls")

In [6]:
df_post.head(4)

,id,node id,component id,component type,stepnumber,step title,component_number,isAutoSave,isSubmit,client save time,...,teacher username,project id,WISE ID 1,WISE ID 2,WISE ID 3,response,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,277256,node2,ufxmcsgt5e,MultipleChoice,1.1,Car on cold day,2,1,0,2016-12-08 09:12:48,...,CrystalMosteiro,18961,148031,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,277257,node2,hucom13uly,OpenResponse,1.1,Car on cold day,3,1,0,2016-12-08 09:12:48,...,CrystalMosteiro,18961,148031,NaN,NaN,If it has been parked in the sun the sun will ...,NaN,NaN,NaN,NaN
2,277258,node2,30dxrmhj4j,MultipleChoice,1.1,Car on cold day,4,1,0,2016-12-08 09:12:48,...,CrystalMosteiro,18961,148031,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,277340,node8,sbjun1lzwx,OpenResponse,1.2,Design Something New,3,1,0,2016-12-08 09:16:53,...,CrystalMosteiro,18961,148031,NaN,NaN,1. Build your catapult \n2. Test your catapult...,NaN,NaN,NaN,NaN

In [8]:
Car_post = df_post[(df_post.stepnumber == 1.1) & (df_post.component_number == 3)]
Car_post.to_csv('Car_post.csv')

In [9]:
Design1_post = df_post[(df_post.stepnumber == 1.2) & (df_post.component_number == 2)]
Design2_post = df_post[(df_post.stepnumber == 1.2) & (df_post.component_number == 3)]
Design1_post.to_csv('Design1_post.csv')
Design2_post.to_csv('Design2_post.csv')

In [10]:
David2_post = df_post[(df_post.stepnumber == 1.3) & (df_post.component_number == 2)]
David4_post = df_post[(df_post.stepnumber == 1.3) & (df_post.component_number == 4)]
David5_post = df_post[(df_post.stepnumber == 1.3) & (df_post.component_number == 5)]
David2_post.to_csv('David2_post.csv')
David4_post.to_csv('David4_post.csv')
David5_post.to_csv('David5_post.csv')

In [11]:
Tomato1_post = df_post[(df_post.stepnumber == 1.4) & (df_post.component_number == 2)]
Tomato2_post = df_post[(df_post.stepnumber == 1.4) & (df_post.component_number == 3)]
Tomato1_post.to_csv('Tomato1_post.csv')
Tomato2_post.to_csv('Tomato2_post.csv')

In [12]:
Greenhouse1_post = df_post[(df_post.stepnumber == 1.5) & (df_post.component_number == 3)] 
Greenhouse2_post = df_post[(df_post.stepnumber == 1.5) & (df_post.component_number == 5)]
Greenhouse1_post.to_csv('Greenhouse3_post.csv')
Greenhouse2_post.to_csv('Greenhouse5_post.csv')

In [13]:
Laura1_post = df_post[(df_post.stepnumber == 1.6) & (df_post.component_number == 3)] 
Laura2_post = df_post[(df_post.stepnumber == 1.6) & (df_post.component_number == 5)]          
Laura1_post.to_csv('Laura1_post.csv')
Laura2_post.to_csv('Laura2_post.csv')

***Embedded - Modeling Question***

In [4]:
df_unit = pd.read_csv("Leech_OvensF16.csv", delimiter = ",")

In [5]:
df_unit.head(5)

,id,node_id,component id,component type,step number,step_title,component part number,isAutoSave,isSubmit,client save time,...,workgroup id,period name,teacher username,project id,WISE ID 1,WISE ID 2,WISE ID 3,response,Unnamed: 22,Unnamed: 23
0,134812,141,0m2q7sopxn,OpenResponse,1.9 B2,Solar Oven Predictions,1,1,0,10/20/16 8:51,...,271671,1,BenLeech,18280,153864,NaN,NaN,i think we will use computer models for ideas.,NaN,NaN
1,134813,141,hbyudad3yq,MultipleChoice,1.9 B2,Solar Oven Predictions,3,1,0,10/20/16 8:51,...,271671,1,BenLeech,18280,153864,NaN,NaN,NaN,NaN,NaN
2,134829,141,36gq0xnpl5,MultipleChoice,1.9 B2,Solar Oven Predictions,4,0,0,10/20/16 8:52,...,271671,1,BenLeech,18280,153864,NaN,NaN,NaN,NaN,NaN
3,134830,141,jajgwsy4l1,MultipleChoice,1.9 B2,Solar Oven Predictions,5,0,0,10/20/16 8:52,...,271671,1,BenLeech,18280,153864,NaN,NaN,NaN,NaN,NaN
4,134831,141,fag56eui44,MultipleChoice,1.9 B2,Solar Oven Predictions,6,0,0,10/20/16 8:52,...,271671,1,BenLeech,18280,153864,NaN,NaN,NaN,NaN,NaN

In [24]:
GT1 = df_unit[(df_unit.node_id == 129)] 
GT2 = df_unit[(df_unit.node_id == 79)] 
GT = GT1.append([GT2])
GT.to_csv('GiveTake.csv')

In [25]:
Plan1 = df_unit[(df_unit.node_id == 23)] 
Plan2 = df_unit[(df_unit.node_id == 120)] 
Plan = Plan1.append([Plan2])
Plan.to_csv('Plan.csv')

In [26]:
Exp1 = df_unit[(df_unit.node_id == 144)] 
Exp2 = df_unit[(df_unit.node_id == 57)] 
Exp = Exp1.append([Exp2])
Exp.to_csv('Explain.csv')

In [6]:
Predict1 = df_unit[(df_unit.node_id == 141)]
Predict1.to_csv('Predict.csv')

In [7]:
Model1 = df_unit[(df_unit.node_id == 122)]
Model1.to_csv('Model1.csv')
Model2 = df_unit[(df_unit.node_id == 130)]
Model2.to_csv('Model2.csv')